<%# Write your code here! %>
<h1>Welcome!</h1>
<form action="/greet" method="POST">
<input id="user_name" name="user_name" type="text" placeholder="Username"/>
<input type="submit" value="Submit"/>
</form>
